body {
  background-color: #d4b2d8;
  font-family: "Montserrat", sans-serif;
}

h1.title {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

h2.chest {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

h2.quadscalves {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

h2.back {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

h2.shoulders {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

h2.hamstringsbackwidth {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

h2.arms {
  padding-top: 25px;
  text-align: center;
  color: #5d4e60;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
  height: 50px;
  width: 300px;
}
